<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
       <div class="col-md-8">
          <div class="card user-card">
             <div class="card-body">
                <h1><i class="fa fa-lock"></i> <%= lingua.forgot_p_page.title %></h1>
                <p><%= lingua.forgot_p_page.desc %></p>
                <form id="forgot-password">
                  <div class="row">
                      <div class="col-md">
                        <div class="form-group">
                          <label><%= lingua.forgot_p_page.text_license %></label>
                          <input class="form-control" type="text" name="license" placeholder="XXXX-XXXX-XXXX-XXXX">
                        </div>
                      </div>
                  </div>
                  <button class="btn btn-primary" type="submit"><%= lingua.forgot_p_page.button_1 %></button>
                  <a href="./" class="btn btn-info"><%= lingua.forgot_p_page.button_2 %></a>
                  <div id="message" class="mt-4"></div>
                </form>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-body">
                &copy; <%= new Date().getFullYear() %>, <%= lingua.welcome_page.copyright %>
            </div>
        </div>
       </div>
       <div class="col-md-2"></div>
  </div>
  </div>
  <script>
    $('#forgot-password').validate({
      rules: {
        license: {
          required: true
        }
      },
      messages: {
        license: {
          required: '<%= lingua.forgot_p_page.validate_license %>'
        }
      },
      submitHandler: function(form) {
        $.ajax({
            type: 'POST',
            url: 'forgot-password',
            data: $('#forgot-password').serialize(),
            success: function(e) {
                $('#message').html(e).fadeIn(1000);   
            },
            error: function(xhr, status, error) {
                alert( "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText );
            }
        });
      }
    })
  </script>