<div class="alert alert-success" role="alert"><%= lingua.forgot_p_load_page.desc %></div>
<h4><%= lingua.forgot_p_load_page.title %></h4>
<form id="change-password" method="post">
    <div class="form-group">
        <label><%= lingua.forgot_p_load_page.form_password %></label>
        <input class="form-control" type="password" name="password" id="password">
    </div>
    <div class="form-group">
        <label><%= lingua.forgot_p_load_page.form_c_password %></label>
        <input class="form-control" type="password" name="con_password">
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary" type="submit"><%= lingua.forgot_p_load_page.button_1 %></button>
    </div>
</form>
<script>
    $('#change-password').validate({
    rules: {
      password: {
        required: true,
        minlength: 5
      },
      con_password: {
        required: true,
        minlength: 5,
        equalTo: '#password'
      }
    },
    messages: {
      password: {
        required: '<%= lingua.forgot_p_load_page.validate_password_1 %>',
        minlength: '<%= lingua.forgot_p_load_page.validate_password_2 %>'
      },
      con_password: {
        required: '<%= lingua.forgot_p_load_page.validate_c_password_1 %>',
        minlength: '<%= lingua.forgot_p_load_page.validate_c_password_2 %>',
        equalTo: '<%= lingua.forgot_p_load_page.validate_c_password_3 %>'
      }
    },
    submitHandler: function(form) {
      $.ajax({
          type: 'POST',
          url: 'changeForgotPassword',
          data: $('#change-password').serialize(),
          success: function(e) {
            if (e.status) {
                $('#message').html('<div class="alert alert-'+e.results.clr+'" role="alert">' + e.results.message + '</div>').fadeIn(1000);
                setInterval(function(){
                    window.location.href = '<%= global.routes_change?.login || '/login' %>'
                }, 3000)
            }
          },
          error: function(xhr, status, error) {
            alert("Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText)
          }
      });
    }
  });
</script>