<div class="form-group">
    <button type="button" onclick="clearConfirm('<%= device._id %>')" class="btn btn-info">
        <%= lingua.log_api_page.button_clear_log %>
    </button>
</div>
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th><%= lingua.log_api_page.column_time %></th>
            <th><%= lingua.log_api_page.column_message %></th>
            <th><%= lingua.log_api_page.column_action %></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" id="load-report-api" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= lingua.log_webhook_page.detail_modal_title %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="data-report"></div>
        </div>
    </div>
    </div>
<script>
    
    var table = $('#example').DataTable({
        "processing": true,
        "serverSide": true,
        "order":[],
        "ajax":{
            url: '../user/reportWebhookReportDt?apiKey=<%= device.apiKey %>'
        },
        'columns':[
            { 'data': 'date' },
            { 'data': 'message' },
            { 'data': 'action' }
        ],
        "columnDefs":[{
            "targets":[0, 1, 2],
            "orderable": false,
        },
        ],
        "aLengthMenu": [[10, 15, 20, 25, 30], [10, 15, 20, 25, 30]],
        "iDisplayLength": 10,
    });

    $(document).ready( function () {

        updateConfirm = function(id){
            $.ajax({
                url: '../user/loadDetailWebhook',
                type: 'post',
                data: "_id=" + id,
                success: function(e) {
                    $('#load-report-api').modal('show');
                    $("#data-report").html(e);
                },
                error: function(xhr, status, error) {
                    loadToast('danger', "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText)
                }
            });
        }

        clearConfirm = function(id){
            var r = confirm("<%= lingua.log_api_page.desc_confirm_delete %>");
            if (r == true) {
                $.ajax({
                    url: '../user/clearReportWebhook',
                    type: 'post',
                    data: "_id=" + id,
                    success: function(e) {
                        table.ajax.reload();
                        loadToast(e.clr, e.message);
                    },
                    error: function(xhr, status, error) {
                        loadToast('danger', "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText)
                    }
                });
            }
        }

    })
</script>