<div class="row">
    <div class="col-12">
        <div class="alert alert-secondary" role="alert">
            <%= lingua.add_on_page.desc_addon %>
        </div>
        <div class="card user-card mb-3">
            <div class="card-body">
                <h5><i class="fad fa-plus-circle"></i> Add On</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td><%= lingua.add_on_page.column_no %></td>
                            <td><%= lingua.add_on_page.column_addon %></td>
                            <td><%= lingua.add_on_page.column_type %></td>
                        </tr>
                        <tbody id="load_addon">
                            <tr>
                                <td colspan="4"><%= lingua.dashboard_page.desc_load_data %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.get('../user/checkAddon', (e) => {
        $('#load_addon').html(e)
    }).fail(function() {
        loadToast('danger', "Error load addons");
    })
</script>