<div class="row">
    <div class="col-md-3 mb-3">
       <div class="card user-card">
            <div class="card-body">
                <h5><i class="fad fa-mobile-alt"></i> <%= lingua.log_device_page.title %></h5>
                <form id="report-device-form">
                    <div class="form-group">
                        <label><%= lingua.log_api_page.desc_choose_device %></label>
                        <select class="form-control" name="apiKey">
                            <option value="">- <%= lingua.log_api_page.desc_choose_device2 %> -</option>
                            <%
                                if(device.length > 0){
                                    for(var i=0; i < device.length; i++){
                            %>
                                <option value="<%= device[i].apiKey %>"><%= device[i].nameDevice %></option>
                            <%
                                    }
                                }
                            %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="status">
                            <option value="-1">- <%= lingua.log_api_page.desc_status %> -</option>
                            <option value="1"><%= lingua.log_device_page.desc_connected %></option>
                            <option value="3"><%= lingua.log_device_page.desc_change_state %></option>
                            <option value="2"><%= lingua.log_device_page.desc_disconnected %></option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="<%= lingua.log_api_page.button_apply %>"/>
                </form>
            </div> 
        </div>
    </div>
    <div class="col-md-9">
        <div class="card user-card">
             <div class="card-body" id="load_device_report">
                <%= lingua.log_device_backend.desc_load_report %>
             </div> 
         </div>
     </div>
</div>

<script>
    $(document).ready( function () {
        $('#report-device-form').validate({
            rules: {
                apiKey: {
                    required: true
                }
            },
            messages: {
                apiKey: {
                    required: '<%= lingua.log_api_page.validate_device %>'
                }
            },
            submitHandler: function(form) {
            $.ajax({
                type: 'POST',
                url: '../user/loadReportDevice',
                data: $('#report-device-form').serialize(),
                success: function(e) {
                    $('#load_device_report').html(e)
                    loadToast('success', "<%= lingua.log_api_page.desc_load_report %>");
                },
                error: function(xhr, status, error) {
                    loadToast('danger', "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText)
                }
            });
            }
        });
    });
</script>